<% provide(:title, '管理画面') %>
<h1>管理画面</h1>

<%= link_to "授業新規作成", new_lecture_path, class: "btn btn-primary" %>
<%= link_to "アカウント新規登録", signup_path, class: "btn btn-primary" %>
<%= link_to "アカウント登録情報編集", edit_user_path(current_user), class: "btn btn-primary" %>
<%= link_to "ログアウト", logout_path, method: :delete, class: "btn btn-primary" %>

<% @lectures.each do |l| %>
  <li>
    <%= link_to l.name, lecture_year_lecture_times_path(l.latest_year) %>
    <%= link_to "編集", edit_lecture_path(l) %>
    <%= link_to "過去", lecture_lecture_years_path(l) %>
  </li>
<% end %>
