<% provide(:title, 'ホーム画面') %>
<h1>ホーム画面</h1>

<%= link_to "アカウント登録情報編集", edit_user_path(current_user), class: "btn btn-primary" %>
<%= link_to "ログアウト", logout_path, method: :delete, class: "btn btn-primary" %>

<%= link_to "質問をする", new_question_path, class: "btn btn-primary" %>
<%= link_to "過去の質問閲覧", lecture_lecture_years_path(@lecture), class: "btn btn-primary" %>

<% if @problems.present? %>
  <%= form_for @progress do |f| %>
    <label><%= f.radio_button :icon, 0 %> なし </label>
    <label><%= f.radio_button :icon, 1 %> 確認してもらう </label>
    <label><%= f.radio_button :icon, 2 %> 緊急 </label>
    <%= f.submit "送信する", class: "btn btn-large btn-primary" %>
  <% end %>


  <%# 質問の一覧を表示する %>
  <% @problems.each do |problem| %>
    <% questions = problem.questions %>
    <% questions.each do |question| %>
      <% if current_user.admin? || question.visible %> <%# 未公開設定でも管理者は見られるように %>
        <li>
          <%= question.problem.name %>
          <%= question.user.id %>
          <%= question.content %>
          <%= question.reply %>
        </li>
      <% end %>
    <% end %>
  <% end %>

  <%= form_tag achievments_path, method: :put do %>
    <% @achievments.each do |achievment| %>
      <%= fields_for "achievments[]", achievment do |f| %>
        check:<%= f.check_box :achieved, { checked: achievment.achieved }, true, false %>
      <% end %>
    <% end %>
    <%= submit_tag %>
  <% end %>
<% else %>
  <h5>現在課題はありません</h5>
<% end %>
