<% provide(:title, 'ホーム画面') %>
<h1>ホーム画面</h1>

<%= link_to "アカウント登録情報編集", edit_user_path(current_user), class: "btn btn-primary" %>
<%= link_to "ログアウト", logout_path, method: :delete, class: "btn btn-primary" %>

<%= link_to "質問をする", new_question_path, class: "btn btn-primary" %>
<%= link_to "過去の質問閲覧", years_lecture_path(@lecture), id: @lecture_id, class: "btn btn-primary" %>

<%# 質問の一覧を表示する %>
<% @problems.each do |problem| %>
  <% questions = problem.questions %>
  <% questions.each do |question| %>
    <% if current_user.admin? || question.visible %> <%# 未公開設定でも管理者は見られるように %>
      <li>
        <%= question.problem.name %>
        <%= question.user.id %>
        <%= question.content %>
        <%= question.reply %>
      </li>
    <% end %>
  <% end %>
<% end %>
