<% provide(:title, 'ホーム画面') %>
<h3>ホーム画面</h3>
<div style="background-image:url(<%= asset_path "background-white.jpg" %>)" />

<div class="container">
  <div class="row">
    <div class="col-md-12">
      <br>
  <div class="row justify-content-center">
      <div class="col-md-8" style="border-style: solid ; border-width: 1px; color: green;">
        <div class="row justify-content-center">
            <div class="col-md-4">
              <%= link_to "質問をする", new_question_path, class: "btn btn-primary " %>
            </div>

            <div class="col-md-4">
              <%= link_to "過去の質問閲覧", years_lecture_path(@lecture), id: @lecture_id, class: "btn btn-primary" %>
            </div>
            <div class="col-md-4">
              <%= link_to "アカウント登録情報編集", edit_user_path(current_user), class: "btn btn-primary" %>
            </div>

    </div>

    <div class="row justify-content-center">
        <div class="col-md-4">
          <font size="5">カテゴリ</font>
        </div>
        <div class="col-md-4">
          <font size="5">質問内容</font>
        </div>
        <div class="col-md-4">
          <font size="5">回答</font>
        </div>

    </div>


    <%= form_for @progress do |f| %>
      <label><%= f.radio_button :icon, 0 %> なし </label>
      <label><%= f.radio_button :icon, 1 %> 確認してもらう </label>
      <label><%= f.radio_button :icon, 2 %> 緊急 </label>
      <%= f.submit "送信する", class: "btn btn-large btn-primary" %>
    <% end %>

    <%# 質問の一覧を表示する %>
    <% @problems.each do |problem| %>
      <% questions = problem.questions %>
      <% questions.each do |question| %>
        <% if current_user.admin? || question.visible %> <%# 未公開設定でも管理者は見られるように %>
          <li style="list-style:none;margin-bottom: 10px;">
          <div class="col-md-12">
            <%= question.problem.name %>
            <%= question.content %><%#この辺頭こんがらかっ河ががったので一旦放置%>
            <%= question.reply %>
          </div>
          </li>
        <% end %>
      <% end %>
    <% end %>


    </div>
    <%= form_tag achievments_path, method: :put do %>
      <% @achievments.each do |achievment| %>
        <%= fields_for "achievments[]", achievment do |f| %>
          check:<%= f.check_box :achieved %>
        <% end %>
      <% end %>
      <%= submit_tag %>
    <% end %>


</div>
</div>
</div>
</div>

</div>
