<% provide(:title, "ログイン") %>
<div class="container py-5">
    <div class="row">
        <div class="col-md-12">
            <h2 class="text-center text-white mb-4">ログイン</h2>
            <div class="row">
                <div class="col-md-6 mx-auto">
                    <div class="card rounded">
                        <div class="card-header text-center">
                            <h3 class="mb-0">ログイン</h3>
                        </div>
                            <%= form_for(:sessions, url: login_path) do |f| %>
                        <div class="card-body">
                            <form autocomplete="off">
                                <div class="form-group">
      <%= f.label :user_id, "ユーザID" %>
      <%= f.text_field :user_id, class: 'form-control form-control-lg rounded' %>
  </div>
  <div class="form-group">
      <%= f.label :password, "パスワード" %>
      <%= f.password_field :password, class: 'form-control form-control-lg rounded'%>
  </div>
      <%= f.submit "ログイン", class: "btn btn-primary btn-lg float-right" %>

      <%= f.submit "アカウントを作成する", class: "btn btn-primary btn-lg float-left" %>
        </form>
        <br>
        <br>
        <% end %>
  </div>
</div>
</div>
</div>
</div>
</div>
</div>
