<% provide(:title, '授業編集') %>
<h1>授業編集画面</h1>

<div class="row">
  <div class="col-md-6 col-md-offset-3">
    <%= form_for(@lecture) do |f| %>
      <%= f.label :name, "授業名" %>
      <%= f.text_field :name, class: 'form-control' %>

      <%= f.fields_for :lecture_years do |ly| %>
        <% next if ly.object.year != Date.today.financial_year %>
        <%= ly.hidden_field :year , value: Date.today.financial_year %>
        <%= ly.label :style, "授業形態" %>
        <%= ly.select :style, [["個人", "個人"], ["グループ", "グループ"]], class: 'form-control' %>
      <% end %>

      <%= f.submit "update lecture", class: "btn btn-primary" %>
    <% end %>
  </div>
</div>
