<tr class="fields">
  <td><%= f.label :name, "課題名" %></td>
  <td><%= f.text_field :name %></td>
  <td><%= f.label :content, "内容" %></td>
  <td><%= f.text_field :content %></td>
  <td><%= f.link_to_remove "削除" %></td>
</tr>
