<% provide(:title, '進捗一覧画面') %>
<h1>進捗一覧画面</h1>

<div class="row">
  <div class="col-md-6 col-md-offset-3">
    <%= link_to "課題編集", '#', class: "btn btn-primary" %>
    <%= link_to "授業終了", '#', class: "btn btn-primary" %>
    <%= link_to "質問一覧", questions_lecture_time_path(@lecture_time), class: "btn btn-primary" %>

    <% @users.each do |user| %>
      <li>
        <%= user.user_id %>
        <%= user.name %>
        <%= user.icon(@lecture_time) %>

        <% @problems.each do |problem| %>
          <%= problem.achievment?(user) %>
        <% end %>
      </li>
    <% end %>
  </div>
</div>
