<% provide(:title, 'Sign up') %>


      <div class="container">
        <div class="row">
          <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
            <h3 class="center">アカウント新規登録</h3><br><br>
          </div>
        </div>

            <%= form_for(@user, url: signup_path) do |f| %>
              <%= render 'shared/error_messages' %>



        <div class="row">
          <div class="col-xs-2 col-sm-2 col-md-2 col-lg-2"></div>
          <div class="col-xs-3 col-sm-3 col-md-3 col-lg-3 tourokujoho" align="left">
            ユーザID
          </div>

          <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4">
            <div class="form-group">
            <%= f.text_field :user_id, class: 'form-control' %>
              <br><br>
            </div>
          </div>

        </div>

        <div class="row">
          <div class="col-xs-2 col-sm-2 col-md-2 col-lg-2"></div>
          <div class="col-xs-3 col-sm-3 col-md-3 col-lg-3 tourokujoho" align="left">
            氏名
          </div>

          <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4">
            <div class="form-group">
                    <%= f.text_field :name, class: 'form-control'%>
              <br><br>
            </div>
          </div>
        </div>

        <% if !current_user.nil? && current_user.admin? %>
        <div class="row">
          <div class="col-xs-2 col-sm-2 col-md-2 col-lg-2"></div>
          <div class="col-xs-3 col-sm-3 col-md-3 col-lg-3 tourokujoho" align="left">
            <%= f.label :authority ,"権限" %>

          </div>

          <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4">
            <div class="form-group">
                  <% authoritys = [['教師', 1], ['アシスタント', 2], ['学生', 3]]%>
                <%= f.select :authority, authoritys, selected: current_user.authority,class: 'form-control'%>
              <br><br>
            </div>
          </div>
        </div>
        <% end %>


        <div class="row">
          <div class="col-xs-2 col-sm-2 col-md-2 col-lg-2"></div>
          <div class="col-xs-3 col-sm-3 col-md-3 col-lg-3 tourokujoho" align="left">
            パスワード
          </div>

          <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4">
            <div class="form-group">
                    <%= f.password_field :password, class: 'form-control' %>
              <br><br>
            </div>
          </div>

        </div>

        <div class="row">
          <div class="col-xs-2 col-sm-2 col-md-2 col-lg-2"></div>
          <div class="col-xs-3 col-sm-3 col-md-3 col-lg-3 tourokujoho" align="left">
            パスワード(確認)
          </div>

          <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4">
            <div class="form-group">
                    <%= f.password_field :password_confirmation, class: 'form-control' %>
              <br><br>
            </div>
          </div>

        </div>

        <div class="row justify-content-md-center">
          <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 button0">
              <%= f.submit "アカウント作成", class: "btn btn-primary" %>
            <% end %>
          </div>
        </div>

      </div>
