<% provide(:title, 'Sign up') %>
<h1>Sign up</h1>

<div class="row">
  <div class="col-md-6 col-md-offset-3">
    <%= form_for(@user, url: signup_path) do |f| %>
      <%= render 'shared/error_messages' %>

      <%= f.label :user_id, "User ID" %>
      <%= f.text_field :user_id, class: 'form-control' %>

      <%= f.label :name %>
      <%= f.text_field :name, class: 'form-control' %>

      <% if !current_user.nil? && current_user.admin? %>
        <% authoritys = [['教師', 1], ['アシスタント', 2], ['学生', 3]] %>
        <%= f.label :authority %>
        <%= f.select :authority, authoritys, selected: current_user.authority, class: 'form-control' %>
      <% end %>

      <%= f.label :password %>
      <%= f.password_field :password, class: 'form-control' %>

      <%= f.label :password_confirmation, "Confirmation" %>
      <%= f.password_field :password_confirmation, class: 'form-control' %>

      <%= f.submit "Create my account", class: "btn btn-primary" %>
    <% end %>
    <%= link_to "もどる", login_path(@lecture), class: "btn btn-primary" %>
  </div>
</div>
