<% provide(:title, '授業題目新規作成') %>
<div class="container-fluid">
  <div class="content-box">
    <div class="row">
      <h2 class="page-title">授業題目作成</h2>
    </div><!-- row -->

          <%= nested_form_for(@lecture_year, url: times_lecture_year_path, method: 'post') do |f| %>
    <div class="row">
      <div class="col-lg-12">
      <%= f.label :year, "開講年" %>
      </div>
    </div><!-- row -->

    <div class="row justify-content-center">
      <div class="times-title col-11 col-lg-6">
          <div class="form-group">
              <%= f.text_field :year, class: 'form-control' %>
          </div>
      </div>
    </div><!-- row -->
    <div class="row justify-content-center">
      <div class="times-title col-11 col-lg-6">
          <div class="form-group">
            <%= f.label :style, "授業形態" %>
            <%= f.select :style, [["個人", "個人"], ["グループ", "グループ"]], class: 'form-control' %>
          </div>
      </div>
    </div><!-- row -->

    <div class="row justify-content-center">
      <button type="button" class="btn btn-success col-7 col-lg-5">
        <i class="nc-icon nc-simple-add" aria-hidden="true"></i>&nbsp;授業を追加する
      </button>
    </div><!-- row -->

  </div><!-- content-box -->

  <div class="row justify-content-end line-btns">
    <div class="col-4 col-lg-auto">
      <button type="button" class="btn btn-success line-btn"><i class="nc-icon nc-badge" aria-hidden="true"></i>&nbsp;グループ編集</button>
    </div>
    <div class="col-2 col-lg-auto">
      <button type="button" class="btn btn-success line-btn"><i class="nc-icon nc-minimal-left" aria-hidden="true"></i>&nbsp;戻る</button>
    </div>
  </div><!-- row -->

</div><!-- container-fluid -->



<div class="row">
  <div class="col-md-6 col-md-offset-3">


      <div class="field">
        <%= f.fields_for :lecture_times do |ly| %>
          <%= render "lecture_time_fields", f: ly %>
        <% end %>
        <%= link_to_add_fields "授業を追加する", f, :lecture_times %>
      </div>
      <%= f.submit "Create lecture", class: "btn btn-primary" %>
    <% end %>
  </div>
</div>
