<% provide(:title, '授業題目新規作成') %>
<h1>授業題目作成画面</h1>

<div class="row">
  <div class="col-md-6 col-md-offset-3">
    <%= nested_form_for(@lecture_year, url: times_lecture_year_path, method: 'post') do |f| %>
      <%= f.label :year, "開講年" %>
      <%= f.text_field :year, class: 'form-control' %>
      <%= f.label :style, "授業形態" %>
      <%= f.select :style, [["個人", "個人"], ["グループ", "グループ"]], class: 'form-control' %>

      <table id="lecture_times">
        <%= f.fields_for :lecture_times, wrapper: false %>
      </table>
      <%= f.link_to_add "授業を追加する", :lecture_times, data: {target: "#lecture_times"} %>
      <%= f.submit "Create lecture", class: "btn btn-primary" %>
    <% end %>
  </div>
</div>
